var_ssid = ''
var_password = ''
var_smtp = {
    "sender_email": 'someemail@gmail.com',
    "sender_name": 'Some Sender',
    "sender_app_password": '',
    "recipient_email": ['recipient1@gmail.com', 'recipient2@gmail.com'],
    "email_subject": 'Test Email',
}
var_sms = {
    "account_sid": '',
    "auth_token": '',
    "recipient_num": ['+15555556', '+15555557'],
    "sender_num": '+15555555',
}
